.event-modal {
	&__booking {
		width: 100%;
		display: flex;
		align-items: center;
		margin: auto;

		&__content {
			margin: auto;
			display: flex;
			flex-direction: column;
			border: 1px solid black;
			border-radius: 10px;
			overflow: hidden;
		}

		&__row {
			display: flex;
			border-bottom: 1px solid black;

			&:last-of-type {
				border-bottom: none;
			}
		}

		&__item {
			border-right: 1px solid black;
			width: 70px;
			height: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			font-weight: 500;
			color: black;
			background: rgba(0,255,0,.4);
			cursor: pointer;

			&:last-of-type {
				border-right: none;
			}

			&.booked {
				background: rgba(0,0,0,.2);
				cursor: not-allowed;
			}
		}
	}
}
