.event-modal {
	overflow-x: auto;
	overflow-y: auto;

	&__booking {
		width: 100%;
		display: flex;
		align-items: center;
		margin: auto;
		padding-bottom: 30px;

		&__content {
			margin: auto;
			display: flex;
			flex-direction: column;
			border: 1px solid black;
			border-radius: 10px;
			overflow: hidden;
		}

		&__row {
			display: flex;
			border-bottom: 1px solid black;

			&:last-of-type {
				border-bottom: none;
			}
		}

		&__item {
			border-right: 1px solid black;
			width: 70px;
			height: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			font-weight: 500;
			color: black;
			background: rgba(0,255,0,.4);
			cursor: pointer;

			&:last-of-type {
				border-right: none;
			}

			&.booked {
				background: rgba(0,0,0,.2);
				cursor: not-allowed;
			}
		}
	}

	&__card {
		min-width: 650px;
	}

	&__remove-cookies {
		padding: 10px 20px;
		font-size: 16px;
		font-weight: 700;
		line-height: 100%;
		background: #FF1050;
		border-radius: 5px;
		color: white;
	}
}

@media (max-width: 650px) {
	.event-modal {
		justify-content: flex-start;
	}
}
