.map-popup {
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 20px;
		height: 20px;
		background-image: url(./static/svg/close.svg);
		background-size: 100%;
		background-repeat: no-repeat;
	}

	&__content {
		width: 100%;
		padding: 20px;
		padding-top: 17px;
		overflow-y: auto;
	}

	&__title {
		font-size: 20px;
		max-width: calc(100% - 100px);
		margin-bottom: 10px;
	}

	&__desc {
		margin-bottom: 7px;
	}

	&__desc, &__date {
		font-size: 16px;
		line-height: 120%;
	}

	&__date {
		margin-bottom: 10px;

		span {
			display: block;
		}

		&__title {
			font-weight: bold;
			margin-bottom: 3px;
		}
	}

	&__more {
		width: 100%;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #7AAEE3;
		border-radius: 5px;
		color: white;
		font-size: 14px;
		font-weight: bold;
	}
}
